@use "variables";

// reset
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a,
a:active,
a:visited {
  color: variables.$primary-link;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: variables.$primary-background;
}

/* Main content wrapper */
.site-content {
  flex: 1;
}

/* Header styles */
.site-header {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  backdrop-filter: blur(10px);
  -webkit-backface-visibility: hidden; /* Fix for Safari blur artifacts */
  backface-visibility: hidden;
}

/* Adjust header position when admin bar is present */
body.admin-bar .site-header {
  top: 32px; /* Default WordPress admin bar height */
}

@media screen and (max-width: 782px) {
  body.admin-bar .site-header {
    top: 0
  }
}

/* Navigation styles */
.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu styles */
.primary-menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Menu item styles */
.primary-menu li {
  display: block;
  margin: 0;
  padding: 0;
}

/* Menu link styles */
.primary-menu a {
  color: #000000;
  padding: 10px 15px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  width: 125px;
  text-align: center;
  margin: 0;
}

/* Menu link hover styles */
.primary-menu a:hover {
  background-color: #575757;
  color: #fff;
}

/* Footer styles */
footer {
  flex-shrink: 0; /* Do not shrink footer if content overflows */
  margin-top: auto; /* Push footer to bottom of flex container */
  background-color: variables.$primary-background;
  text-align: center;
  padding: 10px 0;
}

// desktop
@media screen and (min-width: 768px) {
}
