@use "variables";

// reset
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a,
a:active,
a:visited {
  color: variables.$primary-link;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: variables.$primary-background;
  border:10px solid red
}

/* Main content wrapper */
.site-content {
  flex: 1;
}
/* Footer styles */
footer {
  flex-shrink: 0; /* Do not shrink footer if content overflows */
  margin-top: auto; /* Push footer to bottom of flex container */
  background-color: variables.$primary-background;
  text-align: center;
  padding: 10px 0;
}

// desktop
@media screen and (min-width: 768px) {
}
